.c-block {
    --video-width: 150%;
    --video-height: 150%;

    padding: var(--mainMargin) 0;

    &.-margin-small {
        padding: 2px 0;
    }

    &.-margin-medium {
        padding: calc(var(--mainMargin)/4) 0;
    }

    img {
        height: auto;
    }

    .body-text {
        .c-btn {
            margin-top: 1em;
        }
    }

    .subtitle {
        margin-bottom: var(--mainMargin);
    }

    &.-centered {
        display: flex;
        justify-content: center;
    }

    .o-grid {
        align-items: center;
    }

    &.o-page-content {
        padding-bottom: 0;
    }
}

.o-page-content + .c-block.-white {
    padding-top: 0;
}

.o-page-content:has(+ .c-block.-white) {
    margin-bottom: 0;
}


.c-block-title {
    font-size: 2.2em;

    @include breakpoint($mediumBreakpoint) {
        font-size: 5rem;
    }
}

.c-block-media {
    img {
        display: block;
        height: auto;
    }

    @include breakpoint($mediumBreakpoint) {
        align-items: stretch;

        &.-height-70 {
            .c-block__media {
                height: 70vh;
            }
        }

        &.-height-100 {
            .c-block__media  {                
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: fill;
                }
            }
        }

        &.-height-70,
        &.-height-100 {
            .embed-responsive {
                height: 100%;
                padding: 0 !important;
            }

            iframe {
                width: 100%;
                height: 100%;
                position: static;    
            }

            .c-block__image-container.-video {
                height: 100%;
            }
        }

        .c-block__media {
            grid-column: span 12;
            height: 60vh;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }   

        &.-double  .c-block__media {
            grid-column: span 6;
        }
    }
}

.c-block-media.-parallax {
    height: 80vh;
    transform-style: preserve-3d;
    position: relative;

    &:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(-1px) scale(1.5);
        background-size: 100%;
        z-index: -1;
        background: var(--_bg);
        background-size: cover;
        background-attachment: fixed;
  }
}

.c-block__media + .c-block__media {
    margin-top: 4px;

    @include breakpoint($mediumBreakpoint) {
        margin-top: 0;
    }
}

.embed-responsive {
    position: relative;

    iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.c-block-text {
    .c-block__column {
        position: relative;
        margin-bottom: var(--mainMargin);
    }

    .body-text {
        width: 90%;
    }

    .c-block__image-container {
        display: block;
        aspect-ratio: 2/1;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .c-block__media {
        flex-shrink: 0;
        margin-bottom: var(--mainMargin);
        overflow: hidden;
    }

    @include breakpoint($mediumBreakpoint) {
        &.-align-center {
            align-items: center;
        }

        &.-align-bottom {
            align-items: end;
        }

        .c-block__column {
            grid-column: span 8;
            margin-bottom: 0;
        }

        &.-double .o-grid {
            align-items: start;
        }

        &.-double .c-block__column {
            grid-column: span 6;

            display: flex;
            flex-flow: column nowrap;

            .body-text {
                display: flex;
                flex-flow: column nowrap;
                height: 100%;
            }

            // Will only work in browsers that support has
            p:has(a.c-btn){
                margin-top: auto;   
            }
        }
    }
}

.c-block__text {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($mediumBreakpoint) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.c-block-text-media {
    .c-block__media {
        margin-bottom: var(--mainMargin);

        a {
            display: block;
        }
    }

    .c-block__text {
        margin-bottom: var(--mainMargin);

        h1 a,
        h2 a {
            text-decoration: none;
        }
    }

    .c-block__image-container {
        aspect-ratio: 2/1;
    }

    @include breakpoint($mediumBreakpoint) {
        align-items: center;
        justify-content: space-between;

        .c-block__media {
            grid-column: span 7;
            margin-bottom: 0;
        }

        .c-block__text {
            grid-column: 8 / 13;
            margin-bottom: 0;
        }

        &.-align-right {
            .c-block__media {
                grid-column: span 7;
                grid-column-end: 13;
                grid-row: 1;
                margin-bottom: 0;
            }

            .c-block__text {
                grid-column: 1/6;
                grid-row: 1;
            }            
        }
    }   
}

.c-block__button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: var(--mainMargin);
}