.c-pagination {
    @include striplist;
    display: flex;
    justify-content: center;
    margin: var(--mainMargin) 0;
    font-size: 1.8rem;
    font-weight: 400;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        text-decoration: none;
        
        @include setInteractive {
            text-decoration: none;
        }
    }

    li {
        margin-right: 1rem;
    }

    li:first-child {
        margin-right: 2rem;

        a {
            transform: scale(-1, 1);
        }
    }

    li:last-child {
        margin-left: 1rem;
    }

    .active a {
        color: var(--primaryColor);
        border-bottom: 3px solid currentColor;
    }
}