$mediumBreakpoint: 800px;
$largeBreakpoint: 1088px;
$hugeBreakpoint: 1200px;

:root {
    --primaryFont: "Arial", monospace, sans-serif;
    --bodyFont: "Arial", arial, sans-serif;

    --white: #fff;

    --primaryHS: 250, 32%;
    --primaryL: 43%;
    --primaryColor: black;
    --typographyColor: black;
    --errorColor: red;

    --mainMargin: 4rem;
}

@include breakpoint($mediumBreakpoint) {
    :root {
        --mainMargin: 7rem;
    }
}